  <!--SP用モーダルフォーム-->
  <div class="sp-modal">
    <div class="inner-box">
      <div class="form-box">
        <p class="txt-01"><img src="images/icon/icon-time.svg" alt="時計アイコン"> カンタン10秒</p>
        <p class="txt-02">あとはコンシェルジュの連絡を待つだけ！</p>
        <form action="" method="post">
          <select class="st">
            <option value="" selected="selected">選択してください</option>
            <option value="">ダミー1</option>
            <option value="">ダミー2</option>
            <option value="">ダミー3</option>
          </select>
          <input type="text" name="" placeholder="お名前 例：山田太郎"/ >
          <input type="tel" name="" placeholder="電話番号 例：09000000000"/>
          <input type="email" name="" placeholder="メール 例：×××@××.co.jp"/>
          <input type="image" src="images/btn-submit.svg" alt="送信する">
        </form>
      </div>
      <div class="btn-close">
         <span></span>
         <span></span>
         <span></span>
      </div>
    </div>

  </div>
  <!--SP用モーダルフォーム END-->

  <div class="contents">

    <div class="main-visual fadeIn_off" style= "background-image:url(<%= asset_path "bg-main-visual.jpg"%>)">
      <div class="container">
        <div class="row">
          <div class="container-fluid">
            <div class="left-box col-lg-7">
              <ul>
                <li>完全無料</li>
                <li>優良会社に出会える</li>
              </ul>
              <p class="txt-01">太陽光発電<br>メンテナンス業者<br>選びの専門サービス</p>
              <p class="txt-02">業者選定は時間も<br class="hidden-lg-up">かかるし、<br class="hidden-md-down">悩みますよね？<br>専門コンシェルジュが<br class="hidden-lg-up">解決します！</p>
              <p class="btn-irai hidden-lg-up">
                <%=link_to :action => "new", :anchor => "form-boxlink" do%><%= image_tag("btn-irai.svg", :alt => "依頼する") %><% end %>
              </p>
              <%= image_tag("img-staff-01.png", :alt => "スタッフイメージ写真", :class => "img-staff") %>
            </div>
            <div class="form-box col-lg-5 hidden-md-down">
              <p class="txt-01">
                <%= image_tag("icon/icon-time.svg", :alt => "時計アイコン") %>
                カンタン10秒</p>
              <p class="txt-02">あとはコンシェルジュの連絡を待つだけ！</p>
              <%= render 'layouts/error_messages' %>
              <%= render 'layouts/InquiryForm' %>
            </div>
          </div><!--container-fluid-->
        </div><!--row-->
      </div><!--container-->
    </div><!--main-visual-->

    <div class="section section-service fadeIn_off" style= "background-image:url(<%= asset_path "bg-service.jpg"%>)" id="service">

      <div class="container">
        <div class="row">
          <div class="container-fluid">
            <h2>紹介メンテナンスサービス一覧</h2>

            <ul class="row list-fade-in">
              <li class="col-lg-4">
                <%= image_tag("service/img-service-02.jpg", :alt => "モジュール洗浄イメージ写真") %>
                <div class="inner-box">
                  <h3>モジュール洗浄</h3>
                  <p>砂塵や鳥類のフンなどを専用の洗浄機と洗剤でクリーニングが可能です。。ソーラーパネル洗浄・清掃の専門業者を紹介をいたします。</p>
                </div>
              </li>

              <li class="col-lg-4">
                <%= image_tag("service/img-service-03.jpg", :alt => "点検・計測イメージ写真") %>
                <div class="inner-box">
                  <h3>点検・計測</h3>
                  <p>サーモグラフィー測定やIVカーブ測定などの各種点検対応業者を紹介いたします。他にも50kw以上の高圧連係の法令点検サービス業者の紹介も可能です。</p>
                </div>
              </li>

              <li class="col-lg-4">
                <%= image_tag("service/img-service-01.jpg", :alt => "駆けつけ対応イメージ写真") %>
                <div class="inner-box">
                  <h3>駆けつけ対応</h3>
                  <p>太陽光発電システムの万が一に対応いたします。売電量が急激に低下しているなど緊急対応が必要な場合に駆けつけ対応できる全国の業者を紹介いたします。</p>
                </div>
              </li>

              <li class="col-lg-4">
                <%= image_tag("service/img-service-04.jpg", :alt => "雑草対策イメージ写真") %>
                <div class="inner-box">
                  <h3>雑草対策</h3>
                  <p>放置していると発電効率を下げてしまう、雑草対策も任せてください。太陽光発電設備へ対応できる専門の草刈り・除草業者を紹介いたします。</p>
                </div>
              </li>

              <li class="col-lg-4">
                <%= image_tag("service/img-service-05.jpg", :alt => "遠隔監視システムイメージ写真") %>
                <div class="inner-box">
                  <h3>遠隔監視システム</h3>
                  <p>O&Mの要となる発電チェックを行うシステム提供会社を紹介いたします。低圧から高圧、コストと機能を元にお客様にあったシステムを推薦します。</p>
                </div>
              </li>

              <li class="col-lg-4">
                <%= image_tag("service/img-service-06.jpg", :alt => "定期メンテナンスパッケージイメージ写真") %>
                <div class="inner-box">
                  <h3>定期メンテナンスパッケージ</h3>
                  <p>通年で行われる様々なサービスをパッケージとして提供している定期メンテナンスを複数紹介いたします。お客様の状況に合わせて選ぶことが可能です。</p>
                </div>
              </li>
            </ul>

          </div><!--container-fluid-->
        </div><!--row-->
      </div><!--container-->
    </div><!--section-->

    <div class="section section-point" id="point">
      <div class="container">
        <div class="row">
          <div class="container-fluid fadeIn_off">
            <h2>太陽メンテプロ利用の<br class="hidden-lg-up">特徴・メリット</h2>

            <P class="txt-01">
              <%= image_tag("txt-point-01.svg", :alt => "専門コンシェルジュが業者選定を無料でお手伝い") %>
            </P>

            <ul class="row list-fade-in">
              <li class="col-lg-4">
                <div class="inner-box">
                  <%= image_tag("point/img-point-01.svg", :alt => "専門コンシェルジュによる見積もりサポートアイコン") %>
                  <h3><span>専門コンシェルジュ</span>の<br>見積もりサポート</h3>
                  <p>太陽光発電メンテナンスに特化した紹介コンシェルジュです。業者の評判から相場、太陽光発電の仕組みまで理解してお客様の発注を全力サポートいたします。</p>
                </div>
              </li>
              <li class="col-lg-4">
                <div class="inner-box">
                  <%= image_tag("point/img-point-02.svg", :alt => "専門コンシェルジュによる見積もりサポートアイコン") %>
                  <h3><span>最大5社</span>の<br>金額比較</h3>
                  <p>一括で複数の見積もりを取得することが可能です。複数の会社から金額を確認することで適正価格の確認とコストを抑えてサービスを受けることも可能となります。</p>
                </div>
              </li>
              <li class="col-lg-4">
                <div class="inner-box">
                  <%= image_tag("point/img-point-03.svg", :alt => "専優良会社に厳選してご紹介アイコン") %>
                  <h3><span>優良会社</span>に<br>厳選してご紹介</h3>
                  <p>当サイトでは、太陽光発電のメンテナンスに対応できる様々な業者・会社の情報をデータベース化。独自の審査機銃を満たした業者・会社をお客様へ紹介いたします。</p>
                </div>
              </li>
            </ul>

          </div><!--container-fluid-->
        </div><!--row-->
      </div><!--container-->
    </div><!--section-->

    <div class="section-flow" id="flow">
      <h2>太陽光メンテプロ<br class="hidden-lg-up">ご利用の流れ</h2>
      <div class="container">
        <div class="row">
          <div class="container-fluid fadeIn_off">
            <p class="txt-01">カンタン4 Step</p>
            <ul class="list-fade-in">
              <li>
                <p class="txt-02">Step 1</p>
                <h3>お問い合わせ</h3>
                <p class="txt-03">お名前、電話番号、メール、紹介希望サービス選択の簡単10秒の入力です。</p>
              </li>
              <li>
                <%= image_tag("img-right-arrow.svg", :alt => "右矢印") %>
              </li>

              <li>
                <p class="txt-02">Step 2</p>
                <h3>要件確認</h3>
                <p class="txt-03">専門コンシェルジュが無料でご用件を確認いたします。</p>
              </li>
              <li>
                <%= image_tag("img-right-arrow.svg", :alt => "右矢印") %>
              </li>

              <li>
                <p class="txt-02">Step 3</p>
                <h3>業者紹介</h3>
                <p class="txt-03">いただいた内容からぴったりの見積と業者を紹介いたします。</p>
              </li>
              <li>
                <%= image_tag("img-right-arrow.svg", :alt => "右矢印") %>
              </li>
              <li>
                <p class="txt-02">Step 4</p>
                <h3>商談・成約</h3>
                <p class="txt-03">気に入った業者がいれば面談、成約になります。</p>
              </li>
            </ul>
          </div><!--container-fluid-->
        </div><!--row-->
      </div><!--container-->
    </div><!--section-->

    <div class="section-faq" style= "background-image:url(<%= asset_path "bg-faq.jpg"%>)"  id="faq">
      <div class="container">
        <div class="row">
          <div class="container-fluid fadeIn_off">
            <h2>よくあるご質問</h2>
            <dl class="list-fade-in">
              <dt><span>Q.</span> 一括サイトとの違い</dt>
              <dd><span>A.</span>一括見積もりサイトは複数の業者に対して自動的に情報を送り、見積もりを取り寄せたり、バラバラと勝手に連絡がお客様に入るのがほとんどです。<br>太陽光メンテプロでは、まずは専門コンシェルジュがお客様の要望をヒアリングし、最適な業者を紹介します。</dd>

              <dt><span>Q.</span> 一度にたくさんの電話が来そう</dt>
              <dd><span>A.</span>最初に専門コンシェルジュがお客様へ要望を確認した上で適切な業者と連絡をとり、お客様へ見積もり提案をいたしますので、たくさんの電話が来ることはございません。コンシェジュが提案した業者の中から希望にそう業者とのみ連絡を取ることが可能となります。</dd>

              <dt><span>Q.</span> 紹介後の見積もりで断ることは可能か</dt>
              <dd><span>A.</span>はい、可能です。その場合は、直接、業者へお伝えください。直接お伝えが難しい場合は、ご連絡いただければコンシェルジュからお伝えいたします。また、契約にいたらなかった理由については後日お聞かせいただければ幸いです。</dd>

              <dt><span>Q.</span> 太陽光メンテプロは無料なの</dt>
              <dd><span>A.</span>はい、無料です。本サービスは、業者側から紹介料/成約料をいただいて運営しているので、お客様から金額はいただきません。無料でご利用することが可能となっております。</dd>

              <dt><span>Q.</span> 問い合わせ後の流れは</dt>
              <dd><span>A.</span>弊社の専門コンシェルジュがいただきました電話番号へ連絡差し上げます。太陽光発電の状況や希望サービス等の情報をヒアリングし、最適な業者から概算見積もりを取得します。その後、お客様へ見積もりを提示しますので、希望に沿う業者と成約していただく流れとなります。最終仕上げありに関してヒアリングさせていただければ幸いです。</dd>
            </dl>

          </div><!--container-fluid-->
        </div><!--row-->
      </div><!--container-->
    </div><!--section-faq-->

    <div class="section section-contact" id="contact">
      <div class="container">
        <div class="row">
          <div class="container-fluid fadeIn_off">
            <h2>ご依頼・お問い合わせはこちらから</h2>
              <div class="inner-box">
                <p class="txt-03">業者選定は時間もかかるし、悩みますよね？
<br>専門コンシェルジュが解決します！</p>

                <ul class="row">
                  <li class="col-lg-6">
                    <div class="fukidashi-box">
                      <p><span>完全無料</span>
                        まずはお気軽にご相談ください
                      </p>
                    </div>
                    <%= image_tag("img-staff-02.jpg", :alt => "スタッフイメージ写真", :class => "img-staff") %>

                    <div class="tel-box hidden-md-down">
                      <p class="txt-01">お電話での<span>無料</span>見積依頼・ご相談は </p>
                      <a href="tel:05031874372">
                        <%= image_tag("icon/icon-tel-color.svg", :alt => "電話アイコン", :onclick => "ga('send', 'event', 'click', 'tel_tap', {'nonInteraction': 1});") %>
                        050-3187-4372</a>
                      <p class="txt-02">営業時間 10:00～19:00 土・日・祝休<br>メール・問い合わせは24時間365日受付</p>
                    </div>
                  </li>
                  <li class="col-lg-6">
                    <div class="form-box" id="form-boxlink">
                      <p class="txt-01">
                        <%= image_tag("icon/icon-time.svg", :alt => "時計アイコン") %>
                        カンタン10秒</p>
                      <p class="txt-02">あとはコンシェルジュの<br class="hidden-lg-up">連絡を待つだけ！</p>
                      <%= render 'layouts/error_messages' %>
                      <%= render 'layouts/InquiryForm' %>
                    </div>

                    <div class="tel-box hidden-lg-up">
                      <p class="txt-01">お電話での<span>無料</span>見積依頼・ご相談は </p>
                      <a href="tel:05031874372">
                        <%= image_tag("icon/icon-tel-color.svg", :alt => "電話アイコン", :onclick => "ga('send', 'event', 'click', 'tel_tap', {'nonInteraction': 1});") %>
                        050-3187-4372</a>
                      <p class="txt-02">営業時間 10:00～19:00 土・日・祝休</p>
                    </div>

                  </li>
                </ul>
              </div>
          </div><!--container-fluid-->
        </div><!--row-->
      </div><!--container-->
    </div><!--section-->

  </div><!--contents-->