<footer>
   <div class="container">
    <div class="row">
      <div class="container-fluid">

        <p class="logo"><strong>
          <a href="/">
            <%= image_tag("logo-white.svg", :alt => "太陽光メンテプロ") %>
            太陽光発電メンテナンス専門の業者紹介・選定サービス
          </a>
        </strong></p>

        <ul>
          <li><%= link_to '運営会社', {:controller => 'static_pages', :action => 'company'} %></li>
          <li><%= link_to '利用規約', {:controller => 'static_pages', :action => 'agreement'} %></li>
          <li><%= link_to 'プライバシーポリシー', {:controller => 'static_pages', :action => 'privacy'} %></li>
        </ul>


      </div><!--container-fluid-->
    </div><!--row-->
  </div><!--container-->

  <div id="backtop">
    <a href="#pate-top"><%=image_tag("btn-page-top.svg", :alt => "page top") %></a>
  </div>

  <p class="copy">&copy;&nbsp;太陽光メンテプロ</p>

</footer>


<!--JS-->

<!--JS END-->