<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no" />
    <title><%= full_title(yield(:title))%></title>
    <meta name="description" content="太陽光メンテプロは、太陽光発電のメンテナンスに特化した専門の業者紹介サービス。専門のコンシェルジュがお客様の詳細情報をヒアリングし、一人一人にあったベストな業者を紹介させていただきます。太陽光メンテナンス、モジュール洗浄、草刈りなどの雑草対策、さらにはドローンを利用した点検や遠隔監視、駆けつけなど幅広く対応いたします。" />
    <meta name="keywords" content="太陽光発電メンテナンス、太陽光発電ドローン、太陽光、ソーラーメンテナンス、太陽光クリーニング、太陽光遠隔監視、太陽光点検">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png" sizes="180x180">
    <!--OGP-->
    <meta property="og:title" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:locale" content="ja_JP" />
    <!--OGP END-->
    <%= analytics_init if Rails.env.production? %>
  </head>

  <body>
    <div id="wrapper">
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    </div><!--wrapper-->
  </body>
</html>
